<!doctype html>
<html lang="{{ site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $nav := resources.Get "js/nav.js" | minify | fingerprint }}
    <script src="{{ $nav.RelPermalink }}" defer></script>
    {{ $lightbox := resources.Get "js/lightbox.js" | minify | fingerprint }}
    <script src="{{ $lightbox.RelPermalink }}" defer></script>
  </body>
</html>
